USE [master]
GO
/****** Object:  Database [Phan_Cong_GV]    Script Date: 10/1/2023 12:37:04 AM ******/
CREATE DATABASE [Phan_Cong_GV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Phong_Cong_GV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Phong_Cong_GV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Phong_Cong_GV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Phong_Cong_GV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Phan_Cong_GV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Phan_Cong_GV]
GO
/****** Object:  Table [dbo].[Bo_Mon]    Script Date: 10/1/2023 12:37:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bo_Mon](
	[Ma_BM] [nvarchar](50) NOT NULL,
	[Ten_Bo_Mon] [nvarchar](50) NULL,
 CONSTRAINT [PK_Bo_Mon] PRIMARY KEY CLUSTERED 
(
	[Ma_BM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Giang_Vien]    Script Date: 10/1/2023 12:37:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Giang_Vien](
	[Ma_GV] [nvarchar](50) NOT NULL,
	[Ho] [nvarchar](10) NULL,
	[Ten] [nvarchar](50) NULL,
	[email] [varchar](50) NULL,
	[SDT] [varchar](10) NULL,
 CONSTRAINT [PK_Giang_Vien] PRIMARY KEY CLUSTERED 
(
	[Ma_GV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hoc_Ky]    Script Date: 10/1/2023 12:37:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hoc_Ky](
	[Ma_HK] [nvarchar](50) NOT NULL,
	[Ten_Hoc_Ky] [nvarchar](50) NOT NULL,
	[Ngay_Bat_Dau_HK] [datetime] NOT NULL,
	[Ngay_Ket_Thuc_HK] [datetime] NOT NULL,
 CONSTRAINT [PK_Hoc_Ky] PRIMARY KEY CLUSTERED 
(
	[Ma_HK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lop_Hoc]    Script Date: 10/1/2023 12:37:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop_Hoc](
	[Ma_Lop] [nvarchar](50) NOT NULL,
	[Ma_MH] [nvarchar](50) NOT NULL,
	[Ma_HK] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Lop_Hoc] PRIMARY KEY CLUSTERED 
(
	[Ma_Lop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mon_Hoc]    Script Date: 10/1/2023 12:37:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mon_Hoc](
	[Ma_MH] [nvarchar](50) NOT NULL,
	[Ten_MH] [nvarchar](50) NOT NULL,
	[Ma_BM] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Mon_Hoc] PRIMARY KEY CLUSTERED 
(
	[Ma_MH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phan_Cong_Gaing_Day]    Script Date: 10/1/2023 12:37:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phan_Cong_Gaing_Day](
	[Ma_Phan_cong] [nvarchar](50) NOT NULL,
	[Ma_GV] [nvarchar](50) NOT NULL,
	[Ma_MH] [nvarchar](50) NOT NULL,
	[Ma_HK] [nvarchar](50) NOT NULL,
	[So_Gio_Day_Tuan] [int] NOT NULL,
 CONSTRAINT [PK_Phong_Cong_Gaing_Day] PRIMARY KEY CLUSTERED 
(
	[Ma_Phan_cong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Giang_Vien] ([Ma_GV], [Ho], [Ten], [email], [SDT]) VALUES (N'GV01', N'Mai ', N'Thi A', N'Mai@gmail.com', N'0254856')
INSERT [dbo].[Giang_Vien] ([Ma_GV], [Ho], [Ten], [email], [SDT]) VALUES (N'GV02', N'Nguyen', N'Van A', N'VanA@gmail.com', N'01254854')
INSERT [dbo].[Giang_Vien] ([Ma_GV], [Ho], [Ten], [email], [SDT]) VALUES (N'GV03', N'Tran', N'Thi cc', N'c@gmail.com', N'0356666')
GO
ALTER TABLE [dbo].[Lop_Hoc]  WITH CHECK ADD  CONSTRAINT [FK_Lop_Hoc_Hoc_Ky] FOREIGN KEY([Ma_HK])
REFERENCES [dbo].[Hoc_Ky] ([Ma_HK])
GO
ALTER TABLE [dbo].[Lop_Hoc] CHECK CONSTRAINT [FK_Lop_Hoc_Hoc_Ky]
GO
ALTER TABLE [dbo].[Lop_Hoc]  WITH CHECK ADD  CONSTRAINT [FK_Lop_Hoc_Mon_Hoc] FOREIGN KEY([Ma_MH])
REFERENCES [dbo].[Mon_Hoc] ([Ma_MH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lop_Hoc] CHECK CONSTRAINT [FK_Lop_Hoc_Mon_Hoc]
GO
ALTER TABLE [dbo].[Mon_Hoc]  WITH CHECK ADD  CONSTRAINT [FK_Mon_Hoc_Bo_Mon] FOREIGN KEY([Ma_BM])
REFERENCES [dbo].[Bo_Mon] ([Ma_BM])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Mon_Hoc] CHECK CONSTRAINT [FK_Mon_Hoc_Bo_Mon]
GO
ALTER TABLE [dbo].[Phan_Cong_Gaing_Day]  WITH CHECK ADD  CONSTRAINT [FK_Phong_Cong_Gaing_Day_Giang_Vien] FOREIGN KEY([Ma_GV])
REFERENCES [dbo].[Giang_Vien] ([Ma_GV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Phan_Cong_Gaing_Day] CHECK CONSTRAINT [FK_Phong_Cong_Gaing_Day_Giang_Vien]
GO
ALTER TABLE [dbo].[Phan_Cong_Gaing_Day]  WITH CHECK ADD  CONSTRAINT [FK_Phong_Cong_Gaing_Day_Hoc_Ky] FOREIGN KEY([Ma_HK])
REFERENCES [dbo].[Hoc_Ky] ([Ma_HK])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Phan_Cong_Gaing_Day] CHECK CONSTRAINT [FK_Phong_Cong_Gaing_Day_Hoc_Ky]
GO
ALTER TABLE [dbo].[Phan_Cong_Gaing_Day]  WITH CHECK ADD  CONSTRAINT [FK_Phong_Cong_Gaing_Day_Mon_Hoc] FOREIGN KEY([Ma_MH])
REFERENCES [dbo].[Mon_Hoc] ([Ma_MH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Phan_Cong_Gaing_Day] CHECK CONSTRAINT [FK_Phong_Cong_Gaing_Day_Mon_Hoc]
GO
USE [master]
GO
